<section class="cid-r43taI1vHL" id="footer2-c">
    <div class="container">
        <div class="media-container-row content mbr-white">
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <p style="color:black;" class="mbr-text"><strong>László István&nbsp;</strong><br>
                    <br><a href="tel:+36 30 832 2304">+36 30 832 2304</a><br><a href="tel:+36 74 463 127 ">+36 74 463 127</a><br>
                    <a href="mailto:laszlo1965@gmail.com">laszlo1965@gmail.com</a><br>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <p class="mbr-text"></p>
            </div>
            <div class="col-12 col-md-6">
                <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0Dx_boXQiwvdz8sJHoYeZNVTdoWONYkU&amp;q=place_id:ChIJeyJfyNn_VxMRswhF0aKPMz4" allowfullscreen=""></iframe></div>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">
                        © Korinos.hu - 2023 - Minden jog fenntartva</p>
                </div>
            </div>
        </div>
    </div>
</section>
