

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7WG3T5ZHRM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7WG3T5ZHRM');
</script>

<!-- /Google Analytics -->


  <section class="menu cid-r438eMnyrp" once="menu" id="menu2-6">



    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="index.html">
                        <img src="assets/images/logo-96x74.png" alt="Korinos.hu" title="Korinos.hu" style="height: 3.8rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-primary display-4" href="index.html">Lakókocsis nyaralás Görögországban</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link text-primary display-4" href="arak.html">Árak</a>
                </li><li class="nav-item dropdown open"><a class="nav-link link text-primary dropdown-toggle display-4" href="page2.html" data-toggle="dropdown-submenu" aria-expanded="true">
                        Képek</a><div class="dropdown-menu"><a class="text-primary dropdown-item display-4" href="kep1.html">1-es lakókocsi</a><a class="text-primary dropdown-item display-4" href="kep2.html">2-es lakókocsi</a><a class="text-primary dropdown-item display-4" href="part.html" aria-expanded="false">A part és a kemping</a></div></li>
                <li class="nav-item">
                    <a class="nav-link link text-primary display-4" href="ut.html">Információk</a>
                </li><li class="nav-item"><a class="nav-link link text-primary display-4" href="#bottom">Elérhetőségek</a></li></ul>

        </div>
    </nav>
</section>
