<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="nyaralás, görögország, homokos strand, tenger, lakókocsi" >
    <meta name="application-name" content="Korinos.hu - Lakókocsis nyaralás Görögországban">
    <meta name="msapplication-TileColor" content="#0d5eaf" >
    <meta name="msapplication-TileImage" content="http://www.korinos.hu/mstile-150x150.png" >
    <link rel="shortcut icon" href="https://res.cloudinary.com/korinos-hu/image/upload/f_auto,q_auto/v1538441443/korinos/logo-96x74.png" type="image/x-icon">
    <meta name="description" content="Lakókocsis nyaralás Görögországban – 2 darab jól felszerelt,légkondicionált lakókocsik várja a pihenni vágyókat. A lakókocsik Korinoson, Paraliatól 5 kilóméterre találhatóak.  A kemping széles, homokos tengerparttal rendelkezik. A lakókocsik a parttól 150méterre találhatóak.">
    <title>Lakókocsis nyaralás Görögországban - Korinos.hu</title>
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
    <link rel="stylesheet" href="assets/tether/tether.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" media="all">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="assets/socicon/css/styles.css" media="all">
    <link rel="stylesheet" href="assets/animatecss/animate.min.css">
    <link rel="stylesheet" href="assets/dropdown/css/style.css">
    <link rel="stylesheet" href="assets/theme/css/style.css">
    <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css" media="all">
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}" />
	  <link rel="shortcut icon" type="image/png" href="/favicon.png">


    <head lang="hu" prefix="og: http://ogp.me/ns#">
    <meta property="og:title" content="Lakokocsis Nyaralás Görögországban" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.korinos.hu/index.html" />
    <meta property="og:image" content="https://www.korinos.hu/logo.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:site_name" content="Lakokocsis Nyaralás Görögországban" />
    <meta property="og:description" content="Lakókocsis nyaralás Görögországban – 2 darab jól felszerelt,légkondicionált lakókocsik várja a pihenni vágyókat. A lakókocsik Korinoson, Paraliatól 5 kilóméterre találhatóak.  A kemping széles, homokos tengerparttal rendelkezik. A lakókocsik a parttól 150méterre találhatóak. " />





<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Service",
  "@id": "http://korinos.hu/",
  "name": "Lakokocsis Nyaralás Görögországban",



  "provider": {
    "@type": "LocalBusiness",
    "name": "Korinos.hu",
    "image":  "http://www.korinos.hu/logo.png",
    "priceRange": "$",
    "email": "mailto:laszlo1965@gmail.com",
    "geo": {
    "@type": "GeoCoordinates",
    "latitude": 40.305240,
    "longitude": 22.616244
  },
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Korinos",
    "postalCode": "600 62",
    "addressCountry": "GR",
    "telephone": "+36308322304"
  }
  },
  "areaServed": {
    "@type": "Country",
    "name": "Hungary"
  },




  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "5",
    "reviewCount": "11"
  }


}
</script>









    {% if jekyll.environment == 'production' and site.google_analytics %}
    {% include google-analytics.html %}
    {% endif %}
</head>
