
  <script src="assets/web/assets/jquery/jquery.min.js" asyncasync></script>
  <script src="assets/popper/popper.min.js" asyncasync></script>
  <script src="assets/tether/tether.min.js"async></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"async></script>
  <script src="assets/smoothscroll/smooth-scroll.js"async></script>
  <script src="assets/ytplayer/jquery.mb.ytplayer.min.js"async></script>
  <script src="assets/vimeoplayer/jquery.mb.vimeo_player.js"async></script>
  <script src="assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js"async></script>
  <script src="assets/viewportchecker/jquery.viewportchecker.js"async></script>
  <script src="assets/countdown/jquery.countdown.min.js"async></script>
  <script src="assets/dropdown/js/script.min.js"async></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"async></script>
  <script src="assets/theme/js/script.js"async></script>
  <script src="assets/slidervideo/script.js"async></script>
  <script src="assets/formoid/formoid.min.js"async></script>


  <input name="animation" type="hidden">
