---
layout: default
---

<section class="countdown1 cid-r43stROHWA" id="countdown1-a">
    <div class="container ">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">
            Visszaszámlálás</h2>
        <h3 class="mbr-section-subtitle align-center mbr-fonts-style display-5">
            Hamarosan</h3>

    </div>
    <div class="container countdown-cont align-center">
        <div class="daysCountdown" title="Nap"></div>
        <div class="hoursCountdown" title="Óra"></div>
        <div class="minutesCountdown" title="Perc"></div>
        <div class="secondsCountdown" title="Másodpoerc"></div>
        <div class="countdown pt-5 mt-2" data-due-date="2024/06/15 15:30">
        </div>
    </div>
</section>
